* {
	margin: 0px;
	padding: 0px;
	font-family: "Crimson Pro", serif;
}

.main-component {
	/* position: relative; */
	display: flex;
	width: 100%;
	padding-top: 125px;
	justify-content: space-evenly;
	align-items: center;
	text-align: start;
	color: #da7297;
}

.logo-img img {
	width: 300px;
}
.component-logo {
	font-size: 50px;
}
.inner-component-header {
	color: gray;
	letter-spacing: 1px;
}
.inner-component-img {
	margin-bottom: 50px;
	width: 100%;
	/* position: relative; */
	display: flex;
	justify-content: start;
	align-items: start;
}
.content {
	padding: 20px 40px;
	background-color: white;
	/* border-left: 2px solid gray; */
}
.get-started-btn-div {
	/* position: absolute; */
	/* color: white; */
}

.get-started-btn-div h3 {
	font-size: 40px;
}
.get-started-btn-div p {
	color: gray;
	letter-spacing: 1px;
	font-size: 20px;
}
.get-started-content {
	margin: 20px 0px;
}
.get-started-btn {
	margin-top: 10px;
	padding: 15px 20px;
	color: gray;
	font-weight: 700;
	border: 2.5px solid gray;
	/* border-radius: 5px; */
	background-color: rgba(128, 128, 128, 0.3);
	border-radius: 5px;
}

.get-started-btn:hover {
	transition: 0.2s ease-in-out;
	cursor: pointer;
	background-color: transparent;
	text-decoration: underline;
	/* color: #da7297; */
}
.services-ul-div {
	margin: 30px;
	padding-bottom: 30px;
	border: 1px solid gray;
	border-radius: 5px;
}
.services-ul-h1 {
	margin: 20px 0px;
	text-decoration: underline;
}
.services {
	cursor: pointer;
	font-style: italic;
	list-style: none;
	line-height: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	color: #36454f;
}

.services li {
}
.service-li h2:hover {
	transition: all 0.5s;
	/* transition: 0.5s; */
	color: black;
	/* font-style: normal; */
}

.img-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	border-radius: 5px;
	background-color: white;
	margin: 100px;
	padding: 50px 0px;
}
.img-container img {
	width: 70%;
	aspect-ratio: 1/1;
	border-radius: 5px;
}

@media (max-width: 600px) {
	.main-component {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		
	}
    .logo-img{
		width: 100%;
		aspect-ratio: 1/0.6;
	}
	.logo-img img{
		width: 100%;
		object-fit: cover;
		margin-top: -55px;
	}
	.component-logo {
		font-size: 25px;
		font-weight: 400px;
		margin-bottom: 10px;
	}

	
	.get-started-btn-div h3 {
		font-size: 25px;
	}
	.get-started-btn-div p {
		font-size: 15px;
	}

	.get-started-btn{
		margin-left: 70px;
	}
}
