* {
	margin: 0px;
	padding: 0px;
	font-family: "Crimson Pro", serif;
}

.main-component {
	/* position: relative; */
	/* display: flex; */
	width: 100%;
	padding-top: 100px;
	justify-content: center;
	text-align: center;
}
.main-component {
}

.inner-component-img {
	margin-top: 50px;
	width: 100%;
	/* position: relative; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-component-img img {
	width: 100%;
	aspect-ratio: 1/0.4;
}
.get-started-btn-div {
	position: absolute;
	color: white;
}

.get-started-btn-div h3 {
	font-size: 50px;
}
.get-started-btn-div p {
	font-size: 20px;
}
.get-started-content {
	margin: 40px;
}
