* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Crimson Pro", serif;
}

.main {
	width: 100%;
	height: 55vh;
}

.bgimg img {
	width: 100%;
	height: 55vh;
	position: absolute;
}
.bgimg h1 {
	position: absolute;
	display: inline-block;
	padding-top: 180px;
	padding-left: 40px;
	color: white;
	z-index: 997;
	font: bold;
	font-size: 100px;
}
.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 20px;
}

.phone-holder {
	display: flex;
	text-align: center;
	align-items: center;
	margin-bottom: 5px;
}
.phone-holder > *:first-child {
	margin-right: 20px;
}
.media {
	display: flex;
	width: max-content;
	padding: 4px 7px;
	text-align: center;
	align-items: center;
	margin-bottom: 7px;
	/* color: white; */
	color: #696969;
}
.media > *:first-child {
	margin-right: 10px;
	padding: 2px 4px;
	aspect-ratio: 1/1;
	text-align: center;
	align-items: center;
}

.media:hover {
	cursor: pointer;
}
.media:hover h3 {
	color: black;
	transition: all 0.3s;
}
.media i {
	width: 35px;
	aspect-ratio: 1/1;
}
li {
	list-style: none;
}

.phone-div > * {
	margin-left: 10px;
	margin-right: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 25px;
	padding: 15px;
}

.number {
	margin-left: 60px;
}
.contact-address p {
	margin-left: 40px;
	margin-bottom: 10px;
}
.contact-map iframe {
	margin-left: 40px;
	width: 600px;
	height: 450px;
}

@media (max-width: 600px) {
	.main {
		width: 100%;
		height: 40vh;
	}
	.bgimg h1 {
		font-size: 60px;
	}
	.bgimg img {
		width: 100%;
		height: 35vh;
	}
	.main-container {
		display: flex;
		flex-direction: column;
	}
	.phone-div {
		order: 2;
	}
	.contact-map {
		order: 1;
		border-bottom: 1px solid black;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	.contact-map iframe {
		/* width: 50%;
		aspect-ratio: 1/1; */
		width: 300px;
		height: 150px;
	}
	.phone-div > * {
		margin-bottom: 10px;
	}
	.phone-div > *:last-child {
		border-bottom: none;
	}
	.media > *:first-child {
		margin-right: 0px;
		padding: 2px 4px;
		/* aspect-ratio: 1/1; */
		text-align: center;
		align-items: center;
	}
	.media {
		display: flex;
		width: max-content;
		/* padding: 4px 7px; */
		text-align: center;
		align-items: center;
		/* margin-bottom: 7px; */
		/* color: white; */
		color: #696969;
	}
	.media > *:first-child {
		/* margin-right: 10px; */
		/* padding: 2px 4px; */
		/* aspect-ratio: 1/1; */
		text-align: center;
		align-items: center;
	}
	.media > *:first-child {
		margin-right: 10px;
		/* padding: 2px 4px; */
		aspect-ratio: 1/1;
		text-align: center;
		align-items: center;
	}
	.media h3 {
		font-size: 11px;
	}
}
