.footer {
	background-color: #1a1a1a;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	/* padding: 2vh 0vh 2vh 0vh; */
	margin-top: 10px;
	color: white;
}

.footer-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
}

.footer-ul > * {
	/* margin: 20px; */
	list-style: none;
	padding: 0px 40px;
	/* border-right: 2px solid white; */
}
.footer-li h1 {
	font-style: italic;
	font-weight: 800;
	font-size: 40px;
}
.footer-li h1 {
	font-weight: 500px;
}
#footer-ul-smLinks i {
	background-color: hwb(208 94% 0% / 0.5);
	padding: 6px;
	width: 48px;
	border-radius: 60%;
}
#footer-ul-smLinks i:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
#footer-ul-smLinks i:hover {
	background-color: hwb(208 94% 0% / 0.75);
	transition: ease-in-out 0.4s;
}

.fa {
	font-size: 32px;
	color: white;
}

.address p {
	padding: 5px 15px 5px 5px;
}

.footer-map-div {
	text-align: start;
	margin: 20px 0px;
	padding-left: 40px;
	border-left: 2px solid white;
	display: flex;
}

.map iframe {
	width: 100%;
	aspect-ratio: 1/0.35;
}
@media (max-width: 600px) {
	.footer-li h1 {
		font-size: 25px;
		display: none;
	}
	.footer-ul {
		flex-direction: column;
	}
	.footer-ul > * {
		margin: 5px;
	}
	#footer-ul-smLinks {
		display: flex;
	}
	.footer {
		padding: 3vh 0vh 3vh 0vh;
	}
}
