* {
	margin: 0px;
	padding: 0px;
}

.footer {
	background-color: #1a1a1a;
	width: 100%;
	/* padding: 2vh 0vh 2vh 0vh; */
	/* margin-top: 10px; */
	color: white;
	padding: 20px;
	bottom: 1;
	/* top: 0; */
}

.footer-ul {
	display: flex;
	justify-content: space-around;
}

.footer-li h3 {
	font-size: 30px;
}

.footer-ul li:first-child {
	flex: 1;
}
.footer-map-div {
	padding-left: 10px;
	border-left: 2px solid white;
}
.smLinks-i {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.smLinks-i i{
	color: white;
}

.fa {
	font-size: 30px;
	margin: 0px 5px;
}
.footer-map-div {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}
.map iframe {
	width: 200px;
	aspect-ratio: 1/0.5;
}

.address h3 {
	font-size: 30px;
}

@media (max-width: 600px) {
	.footer {
		width: 100%;
	}
	.map {
		display: none;
	}
	.footer-ul {
		flex-direction: column;
		width: 100%;
	}
	.footer-li h3 {
		font-size: 20px;
	}
	.footer-li h4 {
		font-size: 15px;
		font-weight: 400;
	}
	.footer-map-div {
		width: 100%;
		border-left: 0px;
		border-top: 1px solid white;
	}
	#footer-ul-smLinks {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.smLinks-i i {
		margin-left: 40px;
		align-content: space-between;
	}
	.fa {
		font-size: 25px;
		margin: 0px 2px;
	}
	.address h3 {
		margin-top: 10px;
		font-size: 20px;
	}
	.address p {
		font-size: 15px;
	}
}
